<!DOCTYPE html>
{% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/style1.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar" style="margin-bottom: 0px; height: 0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="http://127.0.0.1:8000/">
        <img  src="{% static 'images/blood9.jpg' %}" height="90" width="612*400" style="margin-left: 10px;" >
<!--      <a class="navbar-brand" href="#">Blood Donation</a>-->
        </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home1' %}" style="margin: 18px; font-size: 20px; ">Home</a></li>
<!---->
         <li><a href="{% url 'about1' %}" style="margin: 18px; font-size: 20px;">About</a></li>
      </li>
      <li><a href="{% url 'gallery1' %}" style="margin: 18px; font-size: 20px;">Gallery</a>
      </li>
      </li>
      </li>
      <li><a href="{% url 'process' %}" style="margin: 18px; font-size: 20px;">Donation Process</a>
      </li>
      </li>
      <li><a href="{% url 'contact1' %}" style="margin: 18px; font-size: 20px; ">Contact us</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a href="" style="margin: 18px; font-size: 20px;"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
      <li><a href="{% url 'logout' %}" style="margin: 18px; font-size: 20px;"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block content %}
{% endblock %} <br>
</body>
<footer style="background-color: #d86e096e; position: relative; bottom: 0px;  width: 100%" class="container-fluid bg-danger " height="60px" width='100%'>
            <p class="float-end"><a href="#" style="color: blue;">Back to top</a></p>
            <div class="row">
                <div class="col-md-6">
                    <p style="color: blue;">&copy; 2017–2021 Foundation, Inc. &middot; <a href="#"
                                style="color: blue;">Privacy</a> &middot; <a href="#"
                            style="color: blue ;">Terms</a></p>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <p style="color: blue;">Contact:<a href="#"
                                style="color: blue;">040-255467</a></p>
                        <p style="color: blue;">Email:<a href="#"
                                style="color: blue;">bloodrevive46@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </footer>
</html>
